
.app {
    text-align: center;
  
    &-body {
        background-color: #242424;
        display: flex;
        flex-direction: column;
        padding-top: 3%;
      }
}

@media only screen and (max-width: 635px) {
  /* For Mobile: */
  .app-body {
    width: 101%;
  }
}

