
.app {
  width: 101%;
  
    &-body {
        background-color: #242424;
        display: flex;
        flex-direction: column;
        padding-top: 5%;
      }
}

@media only screen and (max-width: 635px) {
  /* For Mobile: */
  .app-body {
    width: 101%;
  }
}

