footer {
    background-color: $olDarkGreen;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
    justify-content: center;

    & ul {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.right-module {
            align-items: flex-end;
            margin-right: 94px;
        }

        &.logo-module {
            width: 33%;
            align-items: flex-start;
            padding-inline-start: 94px;
        }

        & li.bottom-nav-logo img {
            cursor: pointer;
            height: 59px;
        }
    }

    & nav {
        width: 67%;
        display: flex;
        flex-direction: row;
    
        & ul li {
            margin: 8px;
        }
        
    }

    & li {
        list-style: none;
    }

    & a {
        color: $white;
        text-decoration: none;

        &:hover {
            opacity: 0.7;
        }
    }
}

ul ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & li svg {
        cursor: pointer;
        color: $white;
    }
}

@media only screen and (max-width: 759px) {
    footer {
        & ul {
            width: 25%;
        }
    }
}

@media only screen and (max-width: 635px) {
    /* For mobile: */
    footer {
        width: 101%;

        & nav {
            width: 50%;

            & ul.middle-module {
                display: none;
            }
        }

        & ul {
            width: 25%;

            &.logo-module {
                width: 50%;
                padding-inline-start: 35px;
            }

            &.right-module {
                width: 100%;
                margin-right: 10px;
            }

            & li.bottom-nav-logo img {
                cursor: pointer;
                height: 25px;
            }
        }
    }
}
