header {
    background-color: #ffffff;
    color: black;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & ul.icon-module {
        width: 14%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }
    
    & li {
        list-style: none;
    }

    & ul.icon-module li {
        &:first-child {
            padding-top: 3%;
        }
        
        & svg {
            cursor: pointer;
            color: #000000;

            &:hover {
                opacity: 0.7;
            }
        }

        & a {
            text-decoration: none;
            color: #000000;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    & nav {
        width: 70%;
    
        & ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            align-items: center;
        }
    
        & li {
            margin-right: 20px;
            list-style: none;

            &:last-child {
                margin-right: 0;
            }

            &.top-nav-logo {
                margin-right: 24px;

                & h1 {
                    & a {
                        display: flex;
                        height: 100%;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    & img {
                        cursor: pointer;
                        height: 42px;
                    }
                }
            }

            & a {
                color:  #000000;
                font-size: 18px;
                text-decoration: none;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

@media only screen and (max-width: 635px) {
    header {
        & ul.icon-module {
            min-width: 65px;
        }

        & nav {
            & ul {
                padding-inline-start: 10px;
            }
    
            & li a {
                display: none;
            }
        }
    }
  }
