#toolBar {
  background-color: $white;
  border-bottom: 2pt solid $olGreen;
  color: black;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  & ul.icon-module {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-inline-start: 0px;
  }

  & li {
    list-style: none;
  }

  & ul.icon-module li {
    height: 24px;
    padding: 0 5px;

    & svg {
      cursor: pointer;
      color: $olGreen;

      &:hover {
        opacity: 0.7;
      }
    }

    & a {
      text-decoration: none;
      color: $black;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  & nav {
    width: 70%;

    & ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    & li {
      margin-right: 20px;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }

      &.top-nav-logo {
        margin-right: 24px;

        & h1 {
          & a {
            display: flex;
            height: 100%;

            &:hover {
              opacity: 1;
            }
          }

          & img {
            cursor: pointer;
            height: 42px;
          }
        }
      }

      & a {
        color: $black;
        font-size: 18px;
        text-decoration: none;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .active-link {
    font-weight: bold;
  }
}
