.auth-input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    width: 100%;
    margin-bottom: 3%;

    h6 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-weight: bold;
    }

    input {
        width: 99%;
    }

    @include small('down') {
        p {
            font-size: 13px;
        }
    }

    .label-text-container {
        justify-content: space-between;
        align-items: baseline;
        width: inherit;
        
        display: flex;
        flex-direction: row;

        @include medium('down') {
            flex-direction: column;
        }

        span {
            color: $olErrorMessage;
            font-size: 12px;

            @include medium('down') {
                font-size: 10px;
            }

            @include small('down') {
                font-size: 9px;
                margin-bottom: 3%;
            }

        }
    }
}
