.button {
  width: 189px;
  height: 49px;
  border-radius: 4px;
  border-width: 0;

  font-size: 1.25rem;
  cursor: pointer;
}

.primary {
  background-color: $olLTAccent;
  color: $white;
  font-family: $olBaseFont;

  &:hover {
    background-color: $olLTPrimaryBtnHover;
  }
  
  &:active {
    background-color: $olLTPrimaryBtnClicked;
    color: $olLTPrimaryBtnTxtClicked;
  }
}

.disabled {
  background-color: $olLTDisabled;
  color: $white;
  font-family: $olBaseFont;
  pointer-events: none;
  cursor: none;
}

a.button {
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
