.button {
    width: 189px;
    height: 49px;
    border-radius: 4px;
    border-width: 0;

    font-size: 1.25rem;
    cursor: pointer;
}

.primary {
    background-color: $olLTAccent;
    color: $white;
    font-family: $olBaseFont;
}

.disabled {
    background-color: $olLTDisabled;
    color: $white;
    font-family: $olBaseFont;
    pointer-events: none;
    cursor: none;
}
