.card-module {
  margin: 10px;
  min-width: 324px;
  min-height: 180px;

  background-color: $olLTPrimary;
  box-shadow: 0px 4px 4px rgba(60, 129, 137, 0.25);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
