.copy-link {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: $green300;
  font-size: .937rem;
  font-family: $olBaseFont;
  text-decoration: none;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.25px;
  width: max-content;

  &:hover {
    text-decoration: underline;
  }

  svg {
    color: $olLTAccent;
    margin-left: 5px;
  }
}
