.input-container {
  width: 100%;  

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: $olNotoSansFont;

  label {
    color: $gray400;
    margin-block-start: 0;
    margin-block-end: 0.42em;
    font-size: 1.2rem;
    line-height: 19px;
  }
  
  input {
    border: 1px solid $gray300;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    height: 54px;
    padding-left: 2.5%;
    font-size: 1.3rem;
    font-family: inherit;
    font-style: inherit;

    &:hover {
      border: 1px solid $gray500;
    }

    &:focus {
      outline: none;
      border: 1px solid $blue400;
    }

    &:disabled {
      border: 1px solid $gray300;
      color: $gray300;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 1.3rem;
      color: $gray700;
      opacity: 0.7;
    }

    &:-moz-placeholder { /* Firefox < 19 */
      font-size: 1.3rem;
      color: $gray700;
      opacity: 0.7;
    }

    &::-moz-placeholder { /* Firefox > 19 */
      font-size: 1.3rem;
      color: $gray700;
      opacity: 0.7;
    }

    &:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray700;
      opacity: .8;
    }

    &:hover:-moz-placeholder { /* Firefox < 19 */
      color: $gray700;
      opacity: .8;
    }

    &:hover::-moz-placeholder { /* Firefox > 19 */
      color: $gray700;
      opacity: .8;
    }

    &:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray700;
      opacity: 1;
    }

    &:focus:-moz-placeholder { /* Firefox < 19 */
      color: $gray700;
      opacity: 1;
    }

    &:focus::-moz-placeholder { /* Firefox > 19 */
      color: $gray700;
      opacity: 1;
    }

    &.error-input {
      border: 1.5px solid $olErrorMessage;
    }

    &:disabled::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray300;
      opacity: 1;
    }

    &:disabled:-moz-placeholder { /* Firefox < 19 */
      color: $gray300;
      opacity: 1;
    }

    &:disabled::-moz-placeholder { /* Firefox > 19 */
      color: $gray300;
      opacity: 1;
    }
  }

  span {
    color: $gray400;
    font-size: 1.2rem;
    font-style: italic;
    margin-top:  0.42em;
    line-height: 19px;
  }
}
