.input-container {
  width: 100%;  
  margin: 3% 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: $olBaseFont;

  h6 {
    color: $olLTHeader;
    margin-block-start: 0;
    margin-block-end: 0.42em;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  input {
    border: 1.5px solid rgba(206, 212, 224, 0.7);
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    height: 48px;
    padding-left: 3.5%;
    padding-top: 1%;
    font-size: 1.2rem;
    font-family: inherit;
    font-style: inherit;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 1.2rem;
      color: $olLTPlaceholder;
      opacity: 0.5;
    }
  }

  input.error-input {
    border: 1.5px solid $olErrorMessage;
  }

  span {
    color: $olErrorMessage;
    font-size: 0.85rem;
    margin-left: 2%;
    margin-left: 4%;
    margin-top: 1%;
  }
}
