.app {
  width: 100%;
  
    &-body {
      max-width: 1440px;
      margin: 0 auto;

      background-color: $olLTPrimary;
      display: flex;
      flex-direction: column;
      padding-top: 63px;
      
      @include medium('up') {
        padding-top: 100px;
      }
        
    }
}