.app {
  width: 100%;
  
    &-body {
      max-width: 1440px;
      margin: 0 auto;

      background-color: $olLTPrimary;
      display: flex;
      flex-direction: column;
      padding-top: 100px;

      @include medium('down') {
        padding-top: 63px;
      }
        
    }
}