footer {
    background-color: $olLTPrimary;
    min-height: 50px;
    font-family: Assistant;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & hr {      
        width: 100%;
        border-width: 1px;
        color:rgba(106, 106, 106, 0.8);
    }

    & .footer-nav-module {
        width: 81.5%;
        margin-bottom: 2%;
        
        display: flex;
        flex-direction: row;

        & .left-navigation, .right-navigation {
            width: 50%;

            & h4 {
                color: $olLTHeader;
                font-style: normal;
                font-weight: bold;
                line-height: 37px;
                letter-spacing: 0.02em;
                text-transform: uppercase;

                margin-block-start: 0;
                margin-block-end: .75em;
            }
        }

        & .right-navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    & .bottom-navigation {
        width: 82%;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        & div {
            width: 32%;
            
            & p {
                color: $olLTHeader;
                font-size: 0.857em;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 300;

                margin-block-start: 1.5em;
                margin-block-end: 1.5em;
            }
        }

        & ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            width: 29%;

            & li a {
                color: $olLTHeader;
                text-decoration: none;
                font-family: Assistant;
                font-weight: 600;
            }
        }
    }
}


@include medium("down") {
    footer {

    }
}

@include small("down") {
    /* For mobile: */
    footer {
        width: 101%;
    }
}
