#hamburgerToolbar {
  width: 101%;
  background-color: $white;
  color: black;
  border-bottom: 2pt solid $olGreen;

  & nav {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;

    & h1 {
      margin-block-start: 0;
      margin-block-end: 0;
    }

    & .top-nav-logo {
      cursor: pointer;
      height: 42px;
      margin-left: 16px;
    }

    & .top-nav-icons {
      margin-right: 3%;
      width: 30%;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      & li {
        margin: 0 8%;
      }
    }

    & .link-dropdown {
      background-color: $gray;
      width: 100%;

      & div.search-box-wrapper {
        display: none; // v-2
        margin: 18px 16px 6px 16px;
        padding: 1px 0 1px 1px;
        background: $white;
        transition: all 0.1s ease-out;

        & div {
          background: $white;

          & svg {
            width: 16px;
            height: 16px;
            padding: 5px;
            color: $white;
            background: $gray;
          }
        }

        &:hover {
          outline: 1px solid Highlight;
          transform: scale(1.05);
        }
      }
    }
  }

  & ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    & li {
      list-style: none;

      & svg {
        color: $olGreen;
      }

      & a {
        color: $white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        background-color: $gray;

        &:hover {
          background-color: $lightGray;
          color: $black;
        }
      }
    }
  }
}
