h1 {
    font-size: $olH1Size;
}

h2 {
    font-size: $olH2Size;
}

h3 {
    font-size: $olH3Size;
}

h4 {
    font-size: $olH4Size;
}

h5 {
    font-size: $olH5Size;
}

h6 {
    font-size: $olH6Size;
}

label {
    font-size: $olSubLabels;
}