// Smaller mobile devices and portrait phones
$screen-xxs: 0;
$screen-xs: 415px;

// Modern mobile devices
$screen-sm: 600px;

// Mobile landscape & tablet devices
$screen-md: 960px;

// Desktop
$screen-lg: 1280px;

// High res desktop & TVs
$screen-xl: 1920px;
