// Brand Colors
$olGreen: #296c37;
$olDarkGreen: #16341c;
$olErrorMessage: #BD3730;

// Brand Themes
$olLTPrimary: #ffffff;
$olLTAccent: #43a850;

// Button Colors
$olLTPrimaryBtnHover: #259333;
$olLTPrimaryBtnClicked: #f4fbf5;
$olLTPrimaryBtnTxtClicked: #43a84f;
$olLTPrimaryBtnDisabled: #dadada;

// Form Colors
$olLTDefaultFormText: #182026;

$olLTHeader: #262626;
$olLTCopy: #2b2d31;
$olLTPlaceholder: #2f3849;
$olLTLink: #4d81ff;
$olNavLink: #232936;
$olTLightCopy: #777777;
$olLTSolidCopy: #2b2d31;

// Palette
// Greens
$green50:  #F4FBF5;
$green100: #9DDDA5;
$green200: #6CC577;
$green300: #43A84F;
$green400: #259333;
$green500: #10731C;

// Blues
$blue50:  #F5F9F9;
$blue100: #8CBFC4;
$blue200: #55959A;
$blue300: #367D84;
$blue400: #1E6C73;
$blue500: #0E535A;

// Oranges
$orange50:  #FFF5EC;
$orange100: #FFD8B5;
$orange200: #FEC18B;
$orange300: #D99456;
$orange400: #BD7330;
$orange500: #945115;

// Reds
$red50:  #FDF7F6;
$red100: #FFB9B5;
$red200: #FE918B;
$red300: #D95D56;
$red400: #BD3730;
$red500: #941B15;

// Grays
$gray50:  #F7F7F7;
$gray100: #EAEAEA;
$gray200: #C4C4C4;
$gray300: #A5A5A5;
$gray400: #6A6A6A;
$gray500: #5E5E5E;
$gray600: #444444;
$gray700: #262626;
$gray800: #1E1E1E;
$gray900: #111111;

// Supporting Colors
$white: #ffffff;
$black: #000000;
$gray: #555555;
$lightGray: #dddddd;
