// Brand Colors
$olGreen: #296c37;
$olDarkGreen: #16341c;
$olErrorMessage: #F83737;

//Brand Themes
$olLTPrimary: #ffffff;
$olLTAccent: #43a850;

$olLTHeader: #262626;
$olLTCopy: #2b2d31;
$olLTPlaceholder: #2f3849;
$olLTLink: #4d81ff;
$olLTDisabled: #dadada;
$olNavLink: #232936;
$olTLightCopy: #777777;
$olLTSolidCopy: #2b2d31;

// Supporting Colors
$white: #ffffff;
$black: #000000;
$gray: #555555;
$lightGray: #dddddd;
