.landing-view {
    &-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &-header {
        text-align: left;
    }
}

.about-us {
    &-container{
        align-items: flex-start;
        border-top: 1px solid #7F8892;
        width: 75%;
    }
}

.join-us {
    &-container {
        align-items: center;
        border: 1px solid #7F8892;
        margin-bottom: 3%;
        padding-bottom: 1%;
        width: 75%;
    }
}

.img-place-holder {
    min-width: 100%;
    min-height: 150px;
    border: 1px solid #7F8892;
    margin-bottom: 3%;
    border-radius: 4px;
}