.call-to-action-container {
  background: rgba($blue100, 0.2);
  padding: 3% 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    color: $olLTHeader;
    font-size: 1.5rem;

    @include small('up') {
      font-size: 2.75rem;
      line-height: 78px;
    }

    @include medium('up') {
      font-size: 3.625rem;
    }
  }

  .typing-effect-wrapper {
    margin-top: 0;
  }
}
