footer {
  background-color: $olLTPrimary;
  font-family: $olBaseFont;
  max-width: 1440px;
  min-height: 323px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include medium('up') {  
    justify-content: flex-end;
  }

  hr {
    display: none;

    @include medium('up') {
      display: initial;

      width: 91%;
      border: 1px solid $gray200;
      margin-top: 2em;
    }

  }

  .bottom-navigation {
    display: none;

    @include medium('up') {
      width: 90%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      div {
        flex-grow: 2;

        p {
          color: $gray400;
          font-size: 0.857em;
          font-family: $olNotoSansFont;
          line-height: 16px;
          font-weight: 300;

          margin-block-start: 2.5em;
          margin-block-end: 2.5em;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        padding-inline-start: 0;

        li a {
          color: $gray400;
          text-decoration: none;
          font-family: $olBaseFont;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.4px;

          &:first-child {
            margin-right: 4em;
          }
        }
      }
    }

  }

  .footer-nav-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;

    @include medium('up') {
      width: 90%;
      margin-bottom: 2%;
      
      flex-direction: row;
    }

    @include large('up') {
      width: 91%;
    }

    .left-navigation {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      @include medium('up') {
        width: 0;
        flex-grow: 10;
      }
    }

    .left-navigation, .right-navigation {

      @include medium('up') {
        align-items: flex-start;
      }

      h3 {
        color: $olLTHeader;
        line-height: 48px;
        letter-spacing: 0.25px;
        text-transform: uppercase;
        margin-block-start: 0;
        margin-block-end: 0.3em;

        text-align: center;

        @include medium('up') {
          margin-block-end: 0;
          font-size: 2em;
          text-align: left;
          font-weight: 400;
        }

      }
    }
    
    .right-navigation {
      display: none;

      @include medium('up') {
        min-width: 475px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
      }
    }
  }
}
