.google-button {
  width: 100%;
  height: 30.33px;
  background-color: #ffffff;
  border: 1px solid #393939;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 1em;

  span {
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.01em;
    color: #393939;
    line-height: 25px;
    font-size: 0.9375rem;
  }

  svg {
    position: relative;
    top: 5px;
    margin-right: 1em;


    @include xlarge('up') {
      margin-right: 2.5em;
    }
  }
}
