.nav-link-list-container {
    & h5 {
        color: $olLTHeader;
        line-height: 26px;
        font-weight: bold;
        font-size: 1.5rem;

        margin-block-start: 0;
        margin-block-end: .75em;
    }

    & ul {
        margin-block-start: 0;
        padding-inline-start: 0;
    

        & li {
            margin-bottom: 4.1%;

            &:last-child {
                margin-bottom: 0;   
            }

            & a {
                margin-bottom: 3%;

                color: $olLTHeader;
                font-size: 1.286em;
                line-height: 25px;
                text-decoration: none;
                list-style: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
