.page-header-container {
    width: 81.5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    font-family: $olBaseFont;
    justify-content: space-between;

    & h1 {
        color: $olLTHeader;
        margin-block-end: 0.8em;
        font-family: $olBaseFont;
        font-size: 1.35rem;
    }

    & p {
        width: 100%;
        font-size: 1.2rem;
        color: $olLTCopy;
        margin-block-start: 0;
        margin-block-end: 1.5em;
    }

    & svg {
        max-width: 600px;
        width: 94%;
        height: auto;
        margin-block-end: 2em;
        align-self: center;
    }

    & button {
        width: 161px;
        font-size: 1rem;
    }
}

@include small('up') {
    .page-header-container {
        & h1 {
            font-size: 2rem;
        }

        & button {
            width: 189px;
            font-size: 1.25rem;
        }
    }
}
    
@include medium('up') {
    .page-header-container {
        margin-top: 0;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header img img"
        "copy copy img img"
        "button . img img";

        & h1 {
            grid-area: header;
            font-size: 3.35rem;
            margin-block-end: 0;
        }

        & p {
            grid-area: copy;
            font-size: 1.86rem;
            margin-block-end: 1em;
        }

        & svg {
            grid-area: img;
        }
        
        & button {
            grid-area: button;
        }
    }
}