div.social-media-icon-module {
    width: 255px;
    margin-right: -25px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    & svg {
        margin-bottom: 12%;
        margin-right: 14%;
        cursor: pointer;

        & :hover {
            opacity: 0.5;
        }
    }
}

@include small('up') {
    /* For mobile: */
    div.social-media-icon-module {
        width: 163px;
        margin-block-end: 1.5em;

        & svg {
            margin-right: 10%;
        }
    }
}

@include medium('up') {
    /* For mobile: */
    div.social-media-icon-module {
        width: 202px;
        margin-block-end: 0;
        margin-right: 0;

        & svg {
            margin-right: 12%;
        }
    }
}
