.supporters-container {
    width: 100%;
    height: 200px;
    margin-bottom: 8%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        color: $olLTHeader;
    }
}
