.supporters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8%;
    width: 100%;
    height: 200px;

    & h1 {
        color: $olLTHeader;
    }
}