a.tag-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: $gray600;
  background-color: $gray100;
  border-radius: 18px;
  font-weight: 600;
  font-family: $olBaseFont;
  font-size: 0.7rem;
  line-height: 18px;
  letter-spacing: -0.08px;
  padding: 0 5%;
  width: fit-content;
  height: 23px;
  white-space: nowrap;
  text-decoration: none;

  //TODO: Add back pointer events once we can search using tags 
  pointer-events: none;
}
