.testimonial-container {
  margin: 5% 0;
  width: 85%;
  font-family: $olBaseFont;
  display: grid;
  grid-template-columns: 3fr 0.5fr 100px 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas:
      "copy copy copy copy"
      ". . info img";

    @include medium('up') {
      width: 75%;
      grid-template-columns: 3fr 0.5fr 140px 1fr;
    }

    p {
      grid-area: copy;
      color: $gray800;
      font-size: 1.4285em;
      font-family: $olBaseFont;
      line-height: 47px;
      letter-spacing: 0.25px;
      font-weight: normal;

      @include medium('up') {
        font-size: 2.6em;
      }
    }

    div {
      grid-area: info;

      h4, p {
        font-family: $olBaseFont;
        color: $olLTHeader;
      }

      p {
        font-size: 1em;
        margin-block-start: 0;

        @include medium('up') {
          font-size: 1.2em;
        }
      }

      h4  {
        font-weight: 600;
        margin-block-end: 0;
        font-size: 1.125rem;

        @include medium('up') {
          font-size: 1.625rem;
        }
      }
  }

  img {
    grid-area: img;
    height: 95px;
    width: 95px;

    @include medium('up') {
      height: 160px;
      width: 160px;
    }
  }
}
