.desktop-logo {
    width: 148px;
    display: none;

    @include medium('up') {
        display: block;
    }

}

.mobile-logo {
    width: 30px;

    @include medium('up') {
        display: none;
    }

}