header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

header > h1 {
    font-weight: bold;
    font-size: 1.2em;
    color: #16341c;
    margin-left: 2%;
}

.app-logo-header {
    height: 4vmin;
}