.contact-us-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-us-content-container {
    width: 81.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $olBaseFont;
    justify-content: space-between;

    @include medium('up') {
      flex-direction: row;
      align-items: flex-start;
    }

    .contact-us-copy-container {
      margin: 0;
      width: 100%;

      display: flex;
      flex-direction: column;

      * {
        order: 1;
      }

      @include medium('up') {
        width: 45%;

        * {
          order: 0;
        }
      }

      h1 {
        order: -1;
        font-size: 1.4rem;
        color: $olLTHeader;
        margin-block-end: 0;
        font-family: $olBaseFont;

        @include medium('up') {
          font-size: 3.875em;
        }
      }

      div.feature-copy-container {
        margin-bottom: 6%;
      }

      p {
        color: $olLTCopy;
        margin-block-start: 0;
        margin-block-end: .5em;
        font-size: 1.15rem;

        @include medium('up') {
          font-size: 1.6rem;
        }
      }

      a {
        color: $olLTLink;
      }

      svg {
        margin: 9.8% 0;
        width: 199px;
        order: 0;
        align-self: center;
        height: 185px;

        rect {
          width: 100%;
          height: 100%;
        }

        @include medium('up') {
          margin-top: 12%;
          width: 400px;
          height: 361px;
          align-self: flex-start;
        }
      }
    }

    .contact-us-form-container {
      padding-top: 2%;
      display: flex;
      flex-direction: column;
      width: 100%;

      @include medium('up') {
        width: 50%;
      }

      * {
        order: 1;
      }

      .input-container {
        margin-bottom: 5%;

        @include medium('up') {
          margin-bottom: 0;
        }
      }

      .textarea-container {
        margin-bottom: 12%;

        @include medium('up') {
          margin-bottom: 5%;
        }
      }

      a.button {
        width: 131px;
        align-self: center;
        margin-bottom: 22%;

        @include medium('up') {
          align-self: flex-end;
          margin-bottom: 0;
        }
      }
    }
  }
}
