.landing-view-container{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .call-to-action-container {
            background: rgba($blue100, 0.2);
            padding: 8% 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & h2 {
                color: $olLTHeader;
            }

            & p {
                text-align: center;
                color: $olLTHeader;
                font-weight: bold;
                font-size: 3.4em;
                font-family: $olBaseFont;
            }

            & .call-to-action-typer {
                margin-top: 0;
            }
        }
}
