.meet-team {
  &-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  &-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 323px);
    gap: 2em 1em;
    justify-content: center;

    width: 98%;
    margin: 10% 0;

    @include medium('up') {
      width: 100%;
      gap: 2em 3em;
    }

    @include large('up') {
      grid-template-columns: repeat(auto-fill, 375px);
    }
  }
}
