.page-not-found-view-container {
  padding: 70px 0 10% 0;
  font-size: 24px;

  display: flex;
  justify-content: center;

  & .page-not-found-view-body {
    width: 85%;

    display: flex;
    align-items: center;
    flex-direction: column;

    & svg {
      width: 272px;
      height: 196px;
    }

    & .page-not-found-view-text-container {
      width: 100%;
      margin-top: 5%;
      text-align: center;

      display: flex;
      align-items: center;
      flex-direction: column;

      & p {
        color: $olTLightCopy;
        margin: 6px;
        line-height: 1.3em;
        font-family: $olBaseFont;
      }

      & button {
        margin: 10px 0;
        font-size: 1.25rem;
        line-height: 1.56rem;

        text-align: center;
        font-weight: 600;
        letter-spacing: 0.01rem;

        width: 174px;
        height: 49px;
        border-radius: 50px;

        & a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  @include small() {
    & .page-not-found-view-body {
      width: 92%;

      & svg {
        width: 552px;
        height: 398px;
      }
    }
  }

  @include medium() {
    & .page-not-found-view-body {
      width: 83%;

      & svg {
        width: 640px;
      }
    }
  }

  @include large() {
    & .page-not-found-view-body {
      width: 92%;

      flex-direction: row;
      justify-content: space-between;

      & .page-not-found-view-image-container {
        order: 2;

        & svg {
          width: 652px;
        }
      }

      & .page-not-found-view-text-container {
        margin: 0;
        text-align: left;
        align-items: flex-start;

        & p {
          margin: 12px 0;
        }
      }
    }
  }

  @include xlarge() {
    & .page-not-found-view-body {
      width: 75%;
    }
  }
}
