.projects {
  &-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 323px);
    gap: 2em 3em;
    justify-content: center;

    width: 98%;
    margin: 5% 0;

    @include medium('up') {
      width: 90%;
      grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
      align-items: center;      
      gap: 2em 0;
    }

    @include large('up') {
      grid-template-columns: repeat(auto-fill, minmax(298px, 1fr));
    }
  }
}
